<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139015056010-15mi00ukpt8okei6jltq1s0bn6qbbfhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139015056010-15mi00ukpt8okei6jltq1s0bn6qbbfhm</string>
	<key>API_KEY</key>
	<string>AIzaSyCDvZ1ShMRob7gRVr2JGeUCEOTTrR8zkvc</string>
	<key>GCM_SENDER_ID</key>
	<string>139015056010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dildaezgi.MoviesWithFirebaseAnalytics</string>
	<key>PROJECT_ID</key>
	<string>movieswithfirebaseanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>movieswithfirebaseanalytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139015056010:ios:06e2def2a490b043b19b73</string>
</dict>
</plist>